# Dasar Pemrograman Python

##  1. Variabel
> Tempat untuk menyimpan data dengan tipe tertentu

## 2. Tipe Data Primitif (Dasar)
1. String
2. Integer
3. Float
4. Boolean

In [ ]:
# Contoh tipe data String
nama = "Maudya Faza Ayunda"

# Contoh tipe data Integer
umur = 25

# Contoh tipe data Float
berat_badan = 56.23

# Contoh tipe data Boolean
status_pernikahan = True

In [ ]:
print("Nama                : ", nama)
print("Umur                : ", umur, "Tahun")
print("Berat Badan         : ", berat_badan)
print("Status Pernikahan   : ", status_pernikahan)

---

## 3. Tipe data turunan (Non-Primitive)
1. Array
2. List
3. Tupple
4. Dictionary
5. Set
6. File

### 3.1 Array
![Tipe Array](https://media.geeksforgeeks.org/wp-content/uploads/CommonArticleDesign2-min.png)

In [ ]:
import array as arr
# Contoh Array
# value dalam array harus memiliki tipe data yang sama
# I untuk unsigned integer (integer positif), lihat gambar di atas
apapun_array = arr.array("I", [1,4,8,12,16])
print(apapun_array)

array('I', [1, 4, 8, 12, 16])

In [ ]:
# Array akan error apabila didalamnya terdapat tipe data yang berbeda
bilangan_kelipatan_tiga = arr.array("I", [1,3,"enam",9])
print(bilangan_kelipatan_tiga)

NameError: ignored

### 3.2 List

In [ ]:
# Value / nilai dalam list boleh memiliki tipe data yang berbeda
apapun_list = ["satu", 2, 3, 4.5, True]
print(apapun_list)

['satu', 2, 3, 4.5, True]

### 3.3 Tupple
> List yang isinya tidak bisa diubah.

In [ ]:
apapun_tupple = (1,2,3,4,5)
apapun_tupple[0] = -100
print(apapun_tupple)

TypeError: ignored

### Cara mengakses Array dan List

In [ ]:
# Dihitung dari nol
print(bilangan_kelipatan_empat[2]) #array
print(apapun_list[4])
print(apapun_tupple[3])

NameError: ignored

### 3.4 Dictionary
> Tipe data yang memiliki key dan value

In [ ]:
artis = {
    'nama': "Maudya Faza Ayunda",
    'umur': 25,
    'berat_badan': 63.5,
    'status_pernikahan': False
}

### Cara mengakses Dictionary

In [ ]:
print(artis['nama'])
print(artis['umur'])
print(artis['berat_badan'])
print(artis['status_pernikahan'])

Maudya Faza Ayunda
25
63.5
False

### 3.5 Set
> Tipe data yang tidak ada data duplikat di dalamnya dan sudah terurut

In [ ]:
nama = "Maudya Faza Ayunda"
nama = set(nama)
set([2,4,24,3,43,1,32,0])

{0, 1, 2, 3, 4, 24, 32, 43}

---

## 4. Operator
1. Operator Aritmatika
2. Operator Perbandingan
3. Operator Logika

### 4.1 Operator Aritmatika

In [ ]:
x = 7
y = 5

hasil_penjumlahan = x + y
hasil_pengurangan = x - y
hasil_perkalian = x * y
hasil_pembagian = x / y
hasil_modulus = x % y
hasil_floor_division = x // y
hasil_x_pangkat_y = x ** y

print("Hasil x + y =", hasil_penjumlahan)
print("Hasil x - y =", hasil_pengurangan)
print("Hasil x * y =", hasil_perkalian)
print("Hasil x / y =", hasil_pembagian)
print("Hasil x % y =", hasil_modulus)
print("Hasil x // y =", hasil_floor_division)
print("Hasil x ** y =", hasil_x_pangkat_y)

Hasil x + y = 12
Hasil x - y = 2
Hasil x * y = 35
Hasil x / y = 1.4
Hasil x % y = 2
Hasil x // y = 1
Hasil x ** y = 16807

### 4.2 Operator Perbandingan

In [ ]:
print("x > y =", x > y)
print("x < y =", x < y)
print("x >= y =", x >= y)
print("x <= y =", x <= y)
print("x != y =", x != y)
print("x == y =", x == y)

x > y = True
x < y = False
x >= y = True
x <= y = False
x != y = True
x == y = False

### 4.3 Operator Logika

In [ ]:
a = True
b = False

print("a and b = ", a and b)
print("a or b = ", a or b)
print("not(a) =", not(a))

## 5. Percabangan (Conditional Statement)
1. `if...else`
2. `if...elif...else`

### 5.1 `if...else`

In [ ]:
nilai = 71

if nilai > 70:
    print("Selamat, kamu lulus")
else: # nilai_a <= 70
    print("Yah, kamu harus mengulang")

### 5.2 `if...elif...else`

In [ ]:
if nilai >= 90:
    print("Dapat nilai A")
elif nilai >= 80:
    print("Dapat nilai B")
elif nilai > 70:
    print("Dapat nilai C")
else:
    print("Dapat nilai D. Yah kamu harus mengulang")

## 6. Perulangan (Loop)
1. `for` Loop
2. `while` Loop

### 6.1 `for` loop

In [ ]:
for i in range(4):
  print("Hello world! (iterasi ke-", i, ")")

Hello world! (iterasi ke- 0 )
Hello world! (iterasi ke- 1 )
Hello world! (iterasi ke- 2 )
Hello world! (iterasi ke- 3 )

In [ ]:
fruits = ["Mangga", "Melon", "Pisang", "Apel", "Salak"]
for fruit in fruits:
  print("Saya suka makan", fruit)

Saya suka makan Mangga
Saya suka makan Melon
Saya suka makan Pisang
Saya suka makan Apel
Saya suka makan Salak

### 6.2 `while` loop

In [ ]:
j = 0
while j < 10:
  print("Hello friend (iterasi ke-", j, ")")
  j += 1

Hello friend (iterasi ke- 0 )
Hello friend (iterasi ke- 1 )
Hello friend (iterasi ke- 2 )
Hello friend (iterasi ke- 3 )
Hello friend (iterasi ke- 4 )
Hello friend (iterasi ke- 5 )
Hello friend (iterasi ke- 6 )
Hello friend (iterasi ke- 7 )
Hello friend (iterasi ke- 8 )
Hello friend (iterasi ke- 9 )

## Studi kasus: Penerimaan anggota koperasi sukanabung
![Koperasi](https://pelayananpublik.id/wp-content/uploads/2020/02/Screenshot_20200221-232401_1.jpg)
> Koperasi sukanabung ingin melakukan rekrutmen anggota baru. Adapun kriterianya adalah sebagai berikut.
- Tabungan dalam satu bulan minimal 10.000 rupiah
- Usia 17-25 tahun

> Adapun calon anggota koperasi sukanabung adalah sebagai berikut:


| No | Nama   | Jml Tabungan (perbulan) | usia |
|----|--------|-------------------------|------|
| 1  | Entong | 12000                   | 16   |
| 2  | Eneng  | 10000                   | 17   |
| 3  | Bobby  | 9000                    | 25   |
| 4  | Amir   | 15000                   | 26   |
| 5  | Rendi  | 9900                    | 23   |

1. Buat data tersebut dalam bentuk dictionary
2. Buat program sederhana untuk menentukan apakah calon - calon tersebut sudah layak untuk menjadi anggota baru koperasi sukanabung.
3. Apabila ada calon anggota koperasi sukanabung yang tidak lolos, sebutkan alasannya mengapa yang bersangkutan tidak lolos.
4. Siapa saja kah yang lolos?

1. Buat data tersebut dalam bentuk dictionary

In [ ]:
calon_anggota=[{
    'nama':'Entong',
    'jml_tabungan': 12000,
    'usia': 16
},{
    'nama':'Eneng',
    'jml_tabungan': 10000,
    'usia': 17
},{
    'nama':'Bobby',
    'jml_tabungan': 9000,
    'usia': 25
},{
    'nama':'Amir',
    'jml_tabungan': 15000,
    'usia': 26
},{
    'nama':'Rendi',
    'jml_tabungan': 9900,
    'usia': 23
}]

for x in calon_anggota:
  if x['jml_tabungan']>=10000:
    if x['usia']>=17 and x['usia']<=25:
      print(x['nama'],"- Lolos")
    else:
            print(x['nama'], "- Gagal, usia tidak memenuhi tidak memenuhi kriteria")
  else:
        print(x['nama'], "- Gagal, jumlah tabungan perbulan tidak memenuhi tidak memenuhi kriteria")

Entong - Gagal, usia tidak memenuhi tidak memenuhi kriteria
Eneng - Lolos
Bobby - Gagal, jumlah tabungan perbulan tidak memenuhi tidak memenuhi kriteria
Amir - Gagal, usia tidak memenuhi tidak memenuhi kriteria
Rendi - Gagal, jumlah tabungan perbulan tidak memenuhi tidak memenuhi kriteria

2.Coba cara Lain

In [ ]:
def calon(f):
    must = dict()

    for n in f:
        if f[n] >= 10000:
            must[n] = f[n]

    return must


if __name__ == "__main__":
    list = {
        "Entong": {12000,16},
        "Eneng": {10000,17},
        "Bobby": 9000,
        "Amir": 15000,
        "Rendi": 9900,
    }
    print(calon(list))

{'Entong': 12000, 'Eneng': 10000, 'Amir': 15000}